/* h1{
background-color: blueviolet;
/* color: burlywood;

}
h2{

    color: red !important;;
/* } */

/* .arun{
    display: flex;
/* } */


    /* background-color: grey;
} 
div{
    background-color: red;
}
.color-1{
    padding: 10px;
    background-color: aquamarine;
    color: black;
} */ 


.per{
     border-radius: 50%;
margin-bottom: 1rem;
width: 150px;
height: 150px;
object-fit: cover;
border: 4px solid #bcccdc;
border: 4px solid ;
box-shadow: 0 5px 15px rgb(0 0 0 / 20%);








box-shadow:0 5px 15px rgba(131, 44, 44, 0.2);}



